<table class="editable-elements-container">
    <tbody>
        {{#each entries}}
            <tr>
                <td>
                    {{date-wordy date}}
                </td>
                <td>
                    <input type="number" {{#if value}}value="{{value}}"{{/if}} data-date="{{date}}" class="editable-element" />
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>