<table class="editable-elements-container">
    <tbody>
        {{#each entries}}
            <tr>
                <td>
                    {{readable-date date}}
                </td>
                <td>
                    <input
                        type="number"
                        data-date="{{date}}"
                        class="editable-element"
                        {{#ifEquals value 0}}value="0"{{/ifEquals}}
                        {{#if value}}value="{{value}}"{{/if}} />
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>