html
{
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    color: #151b26;
    padding: 0;
    margin: 0;
    border: none;
}

body
{
    padding: 0;
    margin: 0;
    border: none;
}

a,
a:visited,
a:focus
{
    color: #32c1ff;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

a.anchor-header
{
    color: initial;
    text-decoration: none;
}

a.anchor-header:hover
{
    color: gray;
}

table
{
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

table tr
{
    border-bottom: 1px solid #ddd;
}

table tr:last-of-type
{
    border-bottom: none;
}

table th,
table td
{
    padding: 0.3rem .5rem;
}

table th
{
    text-align: center;
}

/*
    marked's markdown implementation does not support header-less tables.
    But it supports empty headers. This hides them.
*/
th:empty
{
    visibility: hidden;
}

.center { text-align: center; }
.right { text-align: right; }

.highlight { font-weight: 500; }
.negative-attention { color: #ed4758; }
.positive-attention { color: #00bf9c; }

.components-container
{
    display: flex;
    flex-wrap: wrap;
}

    .components-container .cards
    {
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .components-container .card
    {
        position: relative;
        margin: 1rem;
        font-size: 0.8125rem;
        overflow: auto;
    }

    .components-container .card::-webkit-scrollbar-track
    {
        background-color: #ffffff;
    }

    .components-container .card::-webkit-scrollbar
    {
        width: 3px;
    }

    .components-container .card::-webkit-scrollbar-thumb
    {
        background-color: lightgray;
    }

        .components-container .card h1
        {
            font-size: 1rem;
            font-weight: 500;
        }

        .components-container .card h2
        {
            font-size: 0.8rem;
            margin: 0.75rem 0 0 0;
            font-weight: 500;
        }

        .components-container .card .card-action
        {
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            margin: 0.15rem;
            font-size: 2rem;
            color: #f8f8f8;
            text-decoration: none;
        }

        .components-container .card .card-action:hover
        {
            color: lightgray;
        }

        .components-container .card .item
        {
            display: flex;
            text-decoration: none;
            color: #151b26;
            border-bottom: 1px solid #e8ecee;
            padding: 0.3rem 0;
        }

        .components-container .card .item:last-of-type
        {
            border-bottom: none;
        }

        .components-container .card .item:hover
        {
            background-color: #f6f8f9;
        }

            .components-container .card .item .column
            {
                flex: 1 0;
                margin-right: 0.2rem;
            }
