<button class='edit' style='float: right'>edit</button>
<div class='text'></div>

<dialog class='editor' style='width: 70%; height: 70%;'>
    <div style='width: 100%; height: 100%; display: flex; flex-direction: column;'>
        <div style='text-align: right'>
            <button class='save'>save</button>
            <button class='cancel'>cancel</button>
        </div>

        <div style='display: flex; flex-grow: 1;'>
            <textarea style='flex-grow: 1; flex-basis: 0'></textarea>
            <div class='preview' style='flex-grow: 1; flex-basis: 0'></div>
        </div>
    </div>
</dialog>